nav ul {
    list-style: none;
    display: flex;
    column-gap: 20px;
}
nav ul li a {
    color: rgb(23, 15, 15);
    text-decoration: none;
    transition: ease 1s;
}
nav ul li a:hover {
    color: rgb(243, 11, 11);
}
i { color: white;}